<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COTACAO</title>
</head>
<body>
    <h2>Calcule seu IMC</h2>
    <div>
        <form action="/imc" method="POST">
            Informe seu peso:
            <input name="peso" placeholder="Seu peso aqui" type="text"/>
            Informe sua altura:
            <input name="altura" placeholder="Sua altura aqui" type="text"/>
            <input value="calcular" type="submit">
        </form>
    </div>
    <div>
        {{ total }}
    </div>
</body>
</html>